doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Arduino NodeJS
    link(rel='stylesheet', href='/components/semantic-ui/dist/semantic.css')
    link(rel="stylesheet", href="/stylesheets/style.css")

    script(src='/socket.io/socket.io.js')
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/semantic-ui/dist/semantic.js')
    script(src='/components/angular/angular.js')
    script(src='/components/google/chart.js')

  body
    #chart_div
    script.
      google.load('visualization', '1', {packages: ['corechart', 'line']});
      google.setOnLoadCallback(drawBasic);
      function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'x');
        data.addColumn('number', 'y');

        data.addRows([
        [ 0, 0 ],
        [ 92.5426, -88.918  ],
        [ 92.5426, -88.918 ],
        [ 92.5426, -88.918 ],
        [ 14.4656, -88.918 ],
        [ 53.5041, -21.301 ],
        [ 92.5426, -88.918 ],
        [ 92.5426, -88.918 ],
        ]);

        var options = {
          hAxis: {title: 'Time'},
          vAxis: {title: 'Popularity'}
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        //chart.draw(data, options);
        chart.draw(data);
      }