.ui.modal#modalConfig(ng-controller="modalImg2gcode")
  .header.small Configuraci칩n para procesar la imagen y comvertirla a c칩digo-G.
  .image.content
    .image
      img(src="../recursos/toolConfig.png")
    .description
      .ui.form.small
        .two.fields
          .field
            h4.ui.dividing.header Medidas en milimetros.
            label Distancia segura para mover la broca.
            input( ng-model="toolConfig.sevaZ" type="number")
          .field
            label Altura para tomar como referencia para el color blanco.
            input( ng-model="toolConfig.whiteZ" type="number")
        .two.fields
          .field
            label Altura para tomar como referencia para el color negro.
            input( ng-model="toolConfig.blackZ" type="number")
          .field
            label Profundidad de cada paso de la broca, cuanto debe comer la heramienta.
            input( ng-model="toolConfig.deepStep" type="number")
        .two.fields
          .field
            label Di치metro de la broca.
            input( ng-model="toolConfig.toolDiameter" type="number")
          .field
            label Dimensi칩n de la altura de la imagen en milimetros.
            input( ng-model="toolConfig.scaleAxes" type="number")
  .actions
    button.ui.approve.button.primary( ng-click='save()' ) Guardar
    button.ui.cancel.button( ng-click='cancel()' ) Cancelar

.ui.modal.small#modalProgress(ng-controller="modalImg2gcode")
  .header.small Creando GCode desde {{imgName}}
  .content
    .ui.indicating.progress(ng-class='progressBar.class' data-percent='{{progressBar.perc}}')
      .bar(style='transition-duration: 300ms; width: {{progressBar.perc}}%;')
      .label {{progressBar.info}}
  .actions
    button.ui.cancel.button( ng-click='cancel()' ) Cancelar