#modalConfig.ui.modal(ng-controller="modalImg2gcode" style='-webkit-user-select: none;')
  .header.small Configuraci칩n para comvertir una imagen a c칩digo-G.
  .content
    .ui.grid
      .four.wide.tablet.four.wide.computer.only.column
        .image
          img(width="100%" src="../recursos/toolConfig.png")
      .twelve.wide.computer.twelve.wide.tablet.sixteen.wide.mobile.column
        .ui.form.small
          h4.ui.dividing.header Medidas en milimetros.
          .three.fields
            .field
              label Distancia segura.
              input( ng-model="configModal.toolConfig.safeZ" type="number" popup-element data-ng-popup-title="Distancia segura al mover la broca.")
            .field
              label Altura para el color negro.
              input( ng-model="configModal.toolConfig.blackZ" type="number" popup-element data-ng-popup-title="Altura para el color negro." )
            .field
              label Profundidad del paso de la broca.
              input( ng-model="configModal.toolConfig.deepStep" type="number" popup-element data-ng-popup-title="Profundidad del paso de la broca.")
          .three.fields
            .field
              label Altura para el color blanco.
              input( ng-model="configModal.toolConfig.whiteZ" type="number" popup-element data-ng-popup-title="Altura para el color blanco.")
            .field
              label Di치metro de la fresa.
              input( ng-model="configModal.toolConfig.toolDiameter" type="number" popup-element data-ng-popup-title="Di치metro de la broca.")
            .field
              label Velocidad de trabajo.
              input( ng-model="configModal.toolConfig.feedrate.work" type="number" popup-element data-ng-popup-title="Velocidad de trabajo.")
          .inline.fields
            .field
              label Altura de la imagen.
              input( ng-disabled="configModal.toolConfig.heightImage" ng-model="configModal.toolConfig.scaleAxes" type="number" popup-element data-ng-popup-title="Altura de la imagen en milimetros.")
            .field
              .ui.toggle.checkbox
                input( checkbox type="checkbox" ng-model="configModal.toolConfig.heightImage" popup-element data-title="Igual a la altura de la imagen en mm. Pixel de la imgen igual a mm.")
                label
  .actions
    button.ui.approve.button.primary( ng-click='save()' ) Guardar
    button.ui.cancel.button( ng-click='cancel()' ) Cancelar