#modalConfig.ui.modal(ng-controller="modalImg2gcode" style='-webkit-user-select: none;')
  .header.small Configuraci칩n para procesar la imagen y comvertirla a c칩digo-G.
  .image.content
    .image
        img(src="../recursos/toolConfig.png")
    .description
      .ui.form.small
        h4.ui.dividing.header Medidas en milimetros.
        .two.fields
          .field
            label(popup-element data-ng-popup-title="Distancia segura al mover la broca.") Distancia segura.
            input( ng-model="configModal.toolConfig.sevaZ" type="number")
          .field
            label(popup-element data-ng-popup-title="Altura para el color negro.") Altura para el color negro.
            input( ng-model="configModal.toolConfig.blackZ" type="number")
        .two.fields
          .field
            label(popup-element data-ng-popup-title="Profundidad del paso de la broca.") Profundidad del paso de la broca.
            input( ng-model="configModal.toolConfig.deepStep" type="number")
          .field
            label(popup-element data-ng-popup-title="Altura para el color blanco.") Altura para el color blanco.
            input( ng-model="configModal.toolConfig.whiteZ" type="number")
        .two.fields
          .field
            label(popup-element data-ng-popup-title="Di치metro de la broca.") Di치metro de la broca.
            input( ng-model="configModal.toolConfig.toolDiameter" type="number")
          .field
            label(popup-element data-ng-popup-title="Altura de la imagen en milimetros.") Altura de la imagen.
            input( ng-model="configModal.toolConfig.scaleAxes" type="number")
  .actions
    button.ui.approve.button.primary( ng-click='save()' ) Guardar
    button.ui.cancel.button( ng-click='cancel()' ) Cancelar