.ui.modal
  i.close.icon
  .header  Modal Title
  .image.content
    .image  An image can appear on left or an icon
    .description  A description can appear on the right
  .actions
    .ui.button Cancel
    .ui.button OK
script(type="text/javascript").
  $('.ui.modal')
    .modal()
  ;