extends ./menu
block content
  .ui.container
    .ui.tow.column.stackable.grid
      .ten.wide.column
          .ui.one.column.grid
              //.row
              .column(ng-controller="message", ng-show="alerts.length > 0")
                .ui.message(ng-click="closeAlert($index)" ng-repeat="alert in alerts" class="{{alert.type}}")
                  //i.close.icon(ng-click="closeAlert($index)")
                  .header {{alert.header}}
                  div {{alert.msg}}
                  
          .ui.one.column.grid
            .row
              .column.ui.segment
                .ui.top.attached.progress.indicating#progressbar(data-percent='0')
                  .bar#bar(style='transition-duration: 300ms;')
                .ui.one.column.grid
                  .ui.raised
                    .ui.red.ribbon.label Intepretando GCode
                    span Completado:
                      span#progress  0%
                .ui.one.column.grid
                  .column
                    table.ui.very.basic.table.compact
                      thead
                        tr
                          th.collapsing linea
                          th.collapsing X
                          th.collapsing Y
                          th.collapsing Z
                          th G-Code
                          th.collapsing P x
                          th.collapsing P y
                          th.collapsing P z
                      tbody#tablagcode
            .row
              .column.ui.segment(style="border: 15px none; padding-bottom: 14px; padding-top: 14px;")
                canvas#myCanvas(style=" width: 100%; height : 100%; border:1px solid #d3d3d3;")
                 
      .six.wide.column
          .ui.one.column.grid
            .row
              .column.ui.segment
                .ui.one.column.grid
                  .ui.raised
                    .ui.orange.ribbon.label Archivo GCode
                    span {{codeArchivo.name}}

                .ui.one.column.grid
                  .column.center.aligned
                    .ui.icon.buttons
                      button.ui.button(ng-class='btnplay' ng-click='comenzar()')
                        i.play.icon
                      button.ui.button(ng-class='btnpause' ng-click='pausa()')
                        i.pause.icon
                      button.ui.button(ng-class='btnstop' ng-click='parar()')
                        i.stop.icon
                      button.ui.button(ng-class='btntrash' ng-click='borrar()')
                        i.trash.icon
                      span.ui.button.btn-file(ng-class='btnupdate') Archivo
                        input(type='file' uploader-model='file'  onchange="angular.element(this).scope().setFile(this)")
                  //.row.field
                    .column.center.aligned
                      .ui.checkbox
                        input.hidden(tabindex="0" type="checkbox" ng-model='lineainicial')
                        label Linea inicial.
                .ui.one.column.grid
                    table.ui.very.basic.table
                      thead
                        tbody
                          tr
                            td Ejecutado:
                            td#codeEjecutado 0
                          tr
                            td Total:
                            td#codeTotal 0
                          tr
                            td Hora de inicio
                            td {{horaInicio | date:'HH:mm'}}

            .row#controlManual
              .column.ui.segment
                .ui.one.column.grid
                  .ui.raised
                    .ui.green.ribbon.label Control manual
                    span !{motorXY.pasos}p =~ !{motorXY.avance}mm - Ejes X Y
                .ui.one.column.grid.center.aligned
                  .row
                    .column
                  .row
                    .column
                      .ui.action.input.fluid
                        input(placeholder='Enviar comando.',ng-model='comando', type='text')
                        button.ui.primary.button(ng-class="btnClass" type="submit",ng-click='enviarDatos(comando)') Enviar
                  .row
                    .column
                      .ui.right.action.left.icon.input.fluid
                          //i.search.icon
                          input(ng-model='inputpasosmm', placeholder='0', type='text')
                          .ui.basic.floating.dropdown.button
                            .text pasos
                            i.dropdown.icon
                            .menu
                              .item(ng-click='setmmpass("mm")') mm
                              .item(ng-click='setmmpass("pasos")') pasos

                  .row
                    .column
                      .three.ui.buttons
                        button.ui.button(ng-class="btnClass" ng-click='moverManual(inputpasosmm,"X","")') X +
                        button.ui.button(ng-class="btnClass" ng-click='moverManual(inputpasosmm,"Y","")') Y +
                        button.ui.button(ng-class="btnClass" ng-click='moverManual(inputpasosmm,"Z","")') Z +
                        
                  .row
                    .column
                      .three.ui.buttons
                        button.ui.secondary.button(ng-class="btnClass" ng-click='moverManual(inputpasosmm,"X","-")') X -
                        button.ui.secondary.button(ng-class="btnClass" ng-click='moverManual(inputpasosmm,"Y","-")') Y -
                        button.ui.secondary.button(ng-class="btnClass" ng-click='moverManual(inputpasosmm,"Z","-")') Z -
                    //.ui.three.column.grid.center.aligned
                      .row
                        .column
                          button.ui.secondary.tiny.button(ng-class="btnClass" ng-click='moverOrigen()' ng-show="false") [0,0,0]


