extends ./layout
block content
  .ui.inverted.menu
    .header.item !{titulo}
    .active.item Link
    a.item Link {{hola}}
    .ui.dropdown.item(tabindex='0')
      | Dropdown
      i.dropdown.icon
      .menu(tabindex='-1')
        .item Action
        .item Another Action
        .item Something else here
        .divider
        .item Separated Link
        .divider
        .item One more separated link
    .right.menu
      .item
        .ui.transparent.inverted.icon.input
          i.search.icon
          input(placeholder='Search', type='text')
      a.item Link

  .ui.three.column.row.stackable.grid
    .three.wide.column
      .ui.segment
        .ui.top.attached.label  Conectar con arduino
        .ui.grid
          .row
            .column
              label State {{hola}}
                .ui.fluid.dropdown.selection(tabindex='0')
                  select
                    option(value='') State
                    option(value='AL') Alabama
                    option(value='AK') Alaska
                    option(value='AZ') Arizona
                  i.dropdown.icon
                  .default.text State
                  .menu.transition.hidden(tabindex='-1')
                    .item(data-value='AL') Alabama
                    .item(data-value='AK') Alaska
                    .item(data-value='AZ') Arizona

          .row
            .column.center.aligned
              button.ui.red.basic.button Red
              button.ui.black.basic.button Black

    .ten.wide.column
      .ui.segment
        .column
          {{port}}
          {ports[0].comName}
          {ports[0].manufacturer}
          {ports[0].serialNumber}

    .three.wide.column
      .ui.segment.form
          .two.fields
            .field
              label First name
              input(placeholder='First Name', type='text')
            .field
              label Segundo Nombre
              input(placeholder='Segundo Nombre', type='text')
