extends ./menu
block content
  .ui.container
    .ui.tow.column.stackable.grid
      .ten.wide.column
          .ui.one.column.grid
              //.row
              .column(ng-controller="message", ng-show="alerts.length > 0")
                .ui.message(ng-click="closeAlert($index)" ng-repeat="alert in alerts" class="{{alert.type}}")
                  //i.close.icon(ng-click="closeAlert($index)")
                  .header {{alert.header}}
                  div {{alert.msg}}

          .ui.one.column.grid
            .row
              .column.ui.segment
                .ui.top.attached.progress.indicating#progressbar(data-percent='0')
                  .bar#bar(style='transition-duration: 300ms;')
                .ui.one.column.grid
                  .ui.raised
                    .ui.red.ribbon.label Intepretando GCode
                    span Completado:
                      span#progress  0%
                .ui.one.column.grid
                  .column
                    table.ui.very.basic.table.compact
                      thead
                        tr
                          th.collapsing linea
                          th.collapsing X
                          th.collapsing Y
                          th.collapsing Z
                          th G-Code
                      tbody#tablagcode

      .six.wide.column
          .ui.one.column.grid
            .row
              .column.ui.segment
                .ui.one.column.grid
                  .ui.raised
                    .ui.orange.ribbon.label Archivo GCode
                    span {{codeArchivo.name}}

                .ui.one.column.grid
                  .column.center.aligned
                    .ui.icon.buttons
                      button.ui.button(ng-class='btnplay' ng-click='comenzar()')
                        i.play.icon
                      button.ui.button(ng-class='btnpause' ng-click='pausa()')
                        i.pause.icon
                      button.ui.button(ng-class='btnstop' ng-click='parar()')
                        i.stop.icon
                      button.ui.button(ng-class='btntrash' ng-click='borrar()')
                        i.trash.icon
                      span.ui.button.btn-file(ng-class='btnupdate') Archivo
                        input(type='file' uploader-model='file'  onchange="angular.element(this).scope().setFile(this)")

                .ui.one.column.grid
                    table.ui.very.basic.table
                      thead
                        tbody
                          tr
                            td Ejecutado:
                            td#codeEjecutado 0
                          tr
                            td Total:
                            td#codeTotal 0
                          tr
                            td Hora de inicio
                            td {{horaInicio | date:'HH:mm'}}

            .row
              .column.ui.segment
                .ui.one.column.grid
                  .ui.raised
                    .ui.green.ribbon.label Control manual
                    span (200 pasos -> 2.5mm)

                .ui.one.column.grid.center.aligned
                  .row
                    .column
                  .row
                    .column
                      .ui.action.input.fluid
                        input(placeholder='Enviar comando.',ng-model='comando', type='text')
                        button.ui.primary.button(type="submit",ng-click='enviarDatos(comando)') Enviar
                  .row
                    .column
                      .ui.right.action.left.icon.input.fluid
                          //i.search.icon
                          input(ng-model='inputpasosmm', placeholder='0', type='text')
                          .ui.basic.floating.dropdown.button
                            .text pasos
                            i.dropdown.icon
                            .menu
                              .item(ng-click='setmmpass("mm")') mm
                              .item(ng-click='setmmpass("pasos")') pasos

                  .row
                    .ui.four.column.grid.center.aligned
                      .row
                        .column
                          button.ui.red.button.tiny(ng-click='moverManual(inputpasosmm,"X","+")') X+
                        .column
                          button.ui.red.button.tiny(ng-click='moverManual(inputpasosmm,"X","-")') -X
                        .column
                          button.ui.blue.button.tiny(ng-click='moverManual(inputpasosmm,"Y","-")') -Y
                        .column
                          button.ui.blue.button.tiny(ng-click='moverManual(inputpasosmm,"Y","+")') Y+
                  .row
                    .ui.three.column.grid.center.aligned
                      .row
                        .column
                          button.ui.yellow.button.tiny(ng-click='moverManual(inputpasosmm,"Z","+")') Z+
                        .column
                          button.ui.secondary.tiny.button(ng-click='moverOrigen()') [0,0,0]
                        .column
                          button.ui.yellow.button.tiny(ng-click='moverManual(inputpasosmm,"Z","-")') -Z

