extends ./main.jade
block contentPrefs
  // modal / preferencias
  .ui.first.modal.small(ng-controller="prefs")
    //.header.small Header
    .content
      .ui.top.attached.tabular.menu.four.item
        a.active.item(data-tab='setting') Generales
        a.item(data-tab='motorX') Motor X
        a.item(data-tab='motorY') Motor Y
        a.item(data-tab='motorZ') Motor Z
      .ui.bottom.attached.active.tab.segment(data-tab='setting')
        .ui.form.small
          .two.fields
            .field
              label Escala: 
              input(type='number' ng-model="configModal.scale" )
            .field
              label Movimiento manual (Pasos):
              input(type='number' ng-model="configModal.manalSteps" )
          h4.ui.dividing.header(style="margin-top: 10px;margin-bottom: 10px;") Medidas de la piesa.
          .two.fields
            .field
              label X (mm).
              input( ng-model="configModal.workpiece.x" type="number")
            .field
              label Y (mm).
              input( ng-model="configModal.workpiece.y" type="number")
      .ui.bottom.attached.tab.segment(data-tab='motorX')
        .ui.form.small
          h4.ui.dividing.header Milimetros por pasos.
          .two.fields
            .field
              label mm.
              input( ng-model="configModal.motor.x.advance" type="number")
            .field
              label Pasos.
              input( ng-model="configModal.motor.x.steps" type="number")
          .field
            .ui.toggle.checkbox
              input(checkbox type="checkbox" ng-model="configModal.motor.x.sense")
              label Sentido Invertido.
          //label Sacar de mm/min y el avance {{configModal.motor.x.time}}
      .ui.bottom.attached.tab.segment(data-tab='motorY' style="margin-bottom: 0px;")
        .ui.form.small
          h4.ui.dividing.header Milimetros por pasos.
          .two.fields
            .field
              label mm.
              input( ng-model="configModal.motor.y.advance" type="number")
            .field
              label Pasos.
              input( ng-model="configModal.motor.y.steps" type="number")
          .field
            .ui.toggle.checkbox
              input(checkbox type="checkbox" ng-model="configModal.motor.y.sense")
              label Sentido Invertido.
          //label Sacar de mm/min y el avance {{configModal.motor.y.time}}
      .ui.bottom.attached.tab.segment(data-tab='motorZ')
        .ui.form.small
          h4.ui.dividing.header Milimetros por pasos.
          .two.fields
            .field
              label mm.
              input( ng-model="configModal.motor.z.advance" type="number")
            .field
              label Pasos.
              input( ng-model="configModal.motor.z.steps" type="number")
          .field
            .ui.toggle.checkbox
              input(checkbox type="checkbox" ng-model="configModal.motor.z.sense")
              label Sentido Invertido.
    .actions
      button.ui.approve.button.primary( ng-click='save()' ) Guardar
      button.ui.cancel.button( ng-click='cancel()' ) Cancelar