extends ./layout.pug
block content
  div(ng-controller="main")
    .ui.segment.graph( style='height: 100%; position: absolute;width: 100%; margin-bottom: 0px;"')
      #loader.ui.active.inverted.dimmer(style="background-color: #F5F5F5;")
        .ui.text.loader Cargando...
      #mygraph
      .ui.left.internal.attached.rail.graph(style="width: 420px;")
        .ui.grid
          // elejir archivo
          .ten.wide.column(style="padding-right: 3px;")
            .ui.segment.center.aligned
              .ui.one.column.grid
                .column.compact
                  .ui.icon.buttons.fluid
                    button.ui.button(ng-disabled=" !cnc.arduino || cnc.working || cnc.file.line.total == 0 && !cnc.pause.status" ng-click='start()')
                      i.play.icon.green
                    button.ui.button(ng-disabled="!cnc.working"  ng-click='pausa()')
                      i.pause.icon.blue
                    button.ui.button(ng-disabled="!cnc.working && !cnc.pause.status" ng-click='parar()')
                      i.stop.icon.red
                    button.ui.black.button(ng-disabled="cnc.working" ng-click="setFile(false)" ) Archivo
                .column.compact
                  .ui.labeled.input.action.fluid(ng-popup data-id="#popupLabelTool" )
                    label.ui.label Posición de la her.:
                    input(ng-disabled="cnc.working" ng-model='initialLine' type='text' )
                    button.ui.icon.button(ng-disabled="cnc.working" ng-click="setFile(true)")
                      i.repeat.icon.green
              .ui.progress.indicating.bottom.attached(ng-popup data-id="#popupBar" ng-class='progressBar' data-percent='{{cnc.file.line.progress}}')
                .bar(style='transition-duration: 300ms; width: {{cnc.file.line.progress}}%;')  
                  //.progress(style="color: rgba(255, 255, 255, 1);") {{cnc.file.line.progress}}%
            // tabla
            .ui.segment.mini.center.aligned(ng-show="lineTableShow")
                //.ui.one.column.grid
                table.ui.table.very.basic.compact.small
                  thead
                    tr
                      th linea
                      th X
                      th Y
                      th Z
                  tbody
                    tr(popup-element data-ng-popup-title="{{line.code}}" ng-repeat="line in lineTable" ng-class="line.type" )
                      td {{line.nro}}
                      td(popup-element data-ng-popup-title="Pasos: {{line.steps[0]}}") {{ line.ejes[0] | number : 2}}
                      td(popup-element data-ng-popup-title="Pasos: {{line.steps[1]}}") {{ line.ejes[1] | number : 2}}
                      td(popup-element data-ng-popup-title="Pasos: {{line.steps[2]}}") {{ line.ejes[2] | number : 2}}
          .six.wide.column(style="padding-left: 3px;")
            .ui.segment.center.aligned(ng-click="statisticHour.click()" style="padding-bottom: 12px; padding-top: 12px; cursor: pointer;")
              .ui.statistic.small
                .label {{statisticHour.label}}
                .value {{statisticHour.value | date:'HH:mm'}}
      .ui.right.internal.attached.rail.graph
        // comando manuales
        .ui.segment.center.aligned
          .ui.one.column.grid
            .column.compact
              .ui.action.input.fluid(ng-popup data-id="#inputComando")
                input( placeholder='Enviar comando.' type='text' ng-model='comando' ng-value='' ng-disabled="!cnc.arduino || cnc.working ")
                button.ui.teal.button(ng-disabled="!cnc.arduino || cnc.working || comando.length==0" type="submit",ng-click='enviarDatos(comando)') Enviar
            .column.compact
              .ui.right.labeled.input.fluid(ng-popup data-id="#inputStepsmm")
                input(ng-model='inputStepsmm' type='text' )
                //button.ui.primary.right.labeled.button(ng-class='btnStepsmmClass' ng-click='setStepsmm()' ) {{btnStepsmm}}
                .ui.dropdown.label
                  .text pasos
                  i.dropdown.icon
                  .menu
                    .item(style="padding: 0.71428571rem 0.74rem !important;" ng-click="setStepsmm('steps')") pasos
                    .item(style="padding: 0.71428571rem 0.7rem !important;" ng-click="setStepsmm('mm')") mm
            .column.compact
              .six.ui.buttons.compact
                button.ui.button.red(popup-element data-ng-popup-title="A" ng-popup-variatio="bottom center" ng-disabled=" !cnc.arduino || cnc.working " ng-click='moverManual(inputStepsmm,"X","")' ) X+ 
                button.ui.button(popup-element data-ng-popup-title="D" ng-popup-variatio="bottom center" ng-disabled=" !cnc.arduino || cnc.working " ng-click='moverManual(inputStepsmm,"X","-")' ) X- 
                button.ui.button.blue(popup-element data-ng-popup-title="W" ng-popup-variatio="bottom center" ng-disabled=" !cnc.arduino || cnc.working " ng-click='moverManual(inputStepsmm,"Y","")' ) Y+ 
                button.ui.button(popup-element data-ng-popup-title="S" ng-popup-variatio="bottom center" ng-disabled=" !cnc.arduino || cnc.working " ng-click='moverManual(inputStepsmm,"Y","-")' ) Y- 
                button.ui.button.green(popup-element data-ng-popup-title="Q" ng-popup-variatio="bottom center" ng-disabled=" !cnc.arduino || cnc.working " ng-click='moverManual(inputStepsmm,"Z","")' ) Z+ 
                button.ui.button(popup-element data-ng-popup-title="E" ng-popup-variatio="bottom center" ng-disabled=" !cnc.arduino || cnc.working " ng-click='moverManual(inputStepsmm,"Z","-")' ) Z- 
    #statusbar.statusbar(ng-class="statusBar.type" role='contentinfo')
      .statusbar-item.left(ng-popup data-id="#statusBarMsg") {{statusBar.message}}

      .statusbar-item.left(ng-show="lineTable.line.length > 0" ng-popup data-id="#statusBarLine") Nro: {{lineTable.line[lineTable.line.length-1].nro}}
      .statusbar-item.left(ng-show="lineTable.line.length > 0" ng-popup data-id="#statusBarLine") Code: {{lineTable.line[lineTable.line.length-1].code}}
      .statusbar-item.left(ng-show="lineTable.line.length > 0" ng-popup data-id="#statusBarLine") X: {{ lineTable.line[lineTable.line.length-1].ejes[0] | number : 2}}
      .statusbar-item.left(ng-show="lineTable.line.length > 0" ng-popup data-id="#statusBarLine") Y: {{ lineTable.line[lineTable.line.length-1].ejes[1] | number : 2}}
      .statusbar-item.left(ng-show="lineTable.line.length > 0" ng-popup data-id="#statusBarLine") Z: {{ lineTable.line[lineTable.line.length-1].ejes[2] | number : 2}}

      .statusbar-item.right(ng-popup data-id="#statusBarRighr") Lineas interpetadas: {{cnc.file.line.run}} de {{cnc.file.line.total}} - {{cnc.file.line.progress}}%
    //popup
    #popupLabelTool.ui.fluid.popup.top.hidden.huge
      p Posición inicial de la herramienta. {{initialLine}}
    #popupBar.ui.flowing.popup.top.hidden.huge
      .ui.header  Lineas interpetadas 
      p {{cnc.file.line.run}} de {{cnc.file.line.total}} - {{cnc.file.line.progress}}%
    #inputComando.ui.flowing.popup.left.center.hidden.huge
      .ui.header {{comando}}
    #inputStepsmm.ui.flowing.popup.top.left.transition.hidden.huge
      .ui.header {{inputStepsmm}}
    #statusBarMsg.ui.flowing.popup.top.transition.hidden.huge
      .ui.content {{statusBar.message}}
    #statusBarLine.ui.flowing.popup.top.hidden.huge
      .ui.header Linea: {{lineTable.line[lineTable.line.length-1].nro}} - {{lineTable.line[lineTable.line.length-1].code}}
      .ui.content
        p X: {{ lineTable.line[lineTable.line.length-1].ejes[0] | number : 2}} - Pasos: {{lineTable.line[lineTable.line.length-1].steps[0]}}
        p Y: {{ lineTable.line[lineTable.line.length-1].ejes[1] | number : 2}} - Pasos: {{lineTable.line[lineTable.line.length-1].steps[1]}}
        p Z: {{ lineTable.line[lineTable.line.length-1].ejes[2] | number : 2}} - Pasos: {{lineTable.line[lineTable.line.length-1].steps[2]}}
    #statusBarRighr.ui.flowing.popup.top.hidden.huge
      .ui.header  Lineas interpetadas 
      p {{cnc.file.line.run}} de {{cnc.file.line.total}} - {{cnc.file.line.progress}}
block script
  script(type="text/javascript").
    var angular = angular.module('app',[]);
  script(src="./../js/angular.js" type="text/javascript")
  script(src="./../js/controller/ng-main.js" type="text/javascript")
  script(src="./../js/controller/ng-prefs.js" type="text/javascript")
  //script(src="./../js/controller/ng-ng-img2gcode.js" type="text/javascript")
  script(src="./../js/factory/ipc.js" type="text/javascript")
  script(src="./../js/factory/line.js" type="text/javascript")
  script(src="./../js/factory/notify.js" type="text/javascript")