doctype html
html(lang='es', ng-app="todoApp" )
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title !{titulo}
    link(rel='stylesheet', href='/components/semantic-ui/dist/semantic.css')
    link(rel="stylesheet", href="/stylesheets/style.css")

    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/semantic-ui/dist/semantic.js')
    script(src='/components/angular/angular.js')
    script(src='/socket.io/socket.io.js')

  body(ng-controller="main")
    block menu
    script(type='text/javascript').
      $('.ui.dropdown').dropdown();
      var io = io.connect()

    script(src='/scripts/angular.js')
