extends ./layout
block menu
  .ui.inverted.menu
    .header.item !{titulo}
    //.active.item Link
    .ui.dropdown.item(tabindex='0')
      | {{SelecArduino}}
      i.dropdown.icon
      .menu(tabindex='-1')
        .item(ng-repeat='usb in port' ng-click='setUSB(usb)') {{usb.manufacturer}}
    a.item(ng-click="$emit('updateUSB')")
      i.refresh.icon
    a.item g-code

    .right.menu
      .item
      a.item Documentacion
  block content

