block contentPrefs
  .modal.uk-modal(ng-controller="prefs")
    .uk-modal-dialog
      button.uk-modal-close.uk-close(type='button')
      //.uk-modal-header
        .uk-text-bold Prefereincias
      .ui.pointing.secondary.menu
        a.item.active(data-tab='motorx') Motor X
        a.item(data-tab='motory') Motor Y
        a.item(data-tab='motorz') Motor Z
        a.item(data-tab='generales') Generales
      .ui.tab.segment.active(data-tab='motorx')
        form.uk-form.uk-grid
          .uk-form-row
              .ui.checkbox
                label Sentido Invertido.
                input.hidden(type="checkbox" ng-checked="configModal.motor.y.sense")
          .uk-form-row
            p Milimetros por pasos.
              .uk-form-controls
                input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.x.advance" type="number")
                label mm.
                input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.y.steps" type="number")
                label pasos.
            p Velocidad mm/min.
              .uk-form-controls
                  input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.x.speed.working" type="number")
                  label de Trabajo.
                  input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.x.speed.idle" type="number")
                  label en Vasio.
          .uk-form-row
            p Sacar de mm/min y el avance {{configModal.motor.x.time}}
      .ui.tab.segment(data-tab='motory')
        form.uk-form
          .uk-form-row.uk-grid
            .uk-width-1-2
              .ui.checkbox
                label Sentido Invertido.
                input.hidden(type="checkbox" ng-disabled="[iqualx]"  ng-checked="configModal.motor.y.sense")
            .uk-width-1-2
              .ui.checkbox
                label Igual que Motor X.
                input.hidden(type="checkbox" ng-modal="iqualx" ng-checked="true")
          .uk-form-row
            p Milimetros por pasos.
              .uk-form-controls
                input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.y.advance" type="number")
                label mm
                input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.y.steps" type="number")
                label pasos
            p Velocidad mm/min.
              .uk-form-controls
                  input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.y.speed.working" type="number")
                  label de Trabajo.
                  input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.y.speed.idle" type="number")
                  label en Vasio.
          .uk-form-row
            p Sacar de mm/min y el avance {{configModal.motor.y.time}}
      .ui.tab.segment(data-tab='motorz')
        form.uk-form.uk-grid
          .uk-form-row
            .ui.checkbox
              label Sentido Invertido.
              input.hidden(type="checkbox" ng-checked="configModal.motor.z.sense")
          .uk-form-row
            p Milimetros por pasos.
              .uk-form-controls
                input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.z.advance" type="number")
                label mm
                input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.z.steps" type="number")
                label pasos
            p Velocidad mm/min.
              .uk-form-controls
                input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.z.speed.working" type="number")
                label de Trabajo.
                input.uk-form-width-small.uk-form-small( ng-value="configModal.motor.z.speed.idle" type="number")
                label en Vasio.
      .ui.tab.segment(data-tab='generales')
        form.uk-form.uk-grid
          span.uk-form-label Medidas de la mesa de trabajo.
          .uk-form-controls.uk-form-controls-text
            .uk-form-controls-condensed
              label para X 
                input.uk-form-width-small.uk-form-small( ng-value="configModal.table.x" type="number")
                | mm.
            .uk-form-controls-condensed
              label para Y 
                input.uk-form-width-small.uk-form-small( ng-value="configModal.table.y" type="number")
                | mm.
            p.uk-form-controls-condensed
              label Escala: 
                input.uk-form-width-small.uk-form-small(type='number' ng-value="configModal.scale" )
      .uk-modal-footer.uk-text-right
        button.uk-button(type='button') Cancel
        button.uk-button.uk-button-primary(type='button') Save